{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Edit Student | Username : {{student.admin.username}} | #ID : {{student.admin.id}}
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Student</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="/edit_student_save/" method="post"  enctype="multipart/form-data" APPEND_SLASH=False>
                        {% csrf_token %}

                        
                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                            
                            
                        <div class="card-body">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" name="username" placeholder="Username" id="id_username" value="{{student.admin.username}}">
                                <input type="hidden" name="student_id"  value="{{student.admin.id}}">

                            </div>
                            
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" name="first_name" placeholder="First Name" value="{{student.admin.first_name}}">
                            </div>

                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" name="last_name" placeholder="Last Name" value="{{student.admin.last_name}}">
                            </div>

                            <div class="form-group">
                                <label>Email address</label>
                                <input type="email" class="form-control" name="email" placeholder="Enter email" id="id_email" value="{{student.admin.email}}">
                            </div>


                            <div class="form-group">
                                <label>Address</label>
                                <textarea class="form-control" name="address" placeholder="Address" value="{{ student.address }}" ></textarea>
                            </div>

                            <div class="form-group">
                                <label>Courses</label>
                                <select class="form-control" name="course" >
                                    {% for course in courses %}
                                        <option value="{{course.id}}" {% if course.id == student.course_id.id %} selected {% endif %}>
                                            {{course.course_name}}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Sex</label>
                                <select class="form-control" name="sex">
                                        <option  {% if student_gender == "Male" %} selected {% endif %} >Male</option>
                                        <option {% if student_gender == "Femle" %} selected {% endif %} >Female</option>
                                </select>
                            </div>


                            <div class="form-group">
                                <label>Session Start</label>
                                <input type="date" class="form-control" name="Session Start Year" placeholder="Session Start" value="{{student.session_start_year|date:"Y-m-d"}}">
                            </div>

                            <div class="form-group">
                                <label>Session End</label>
                                <input type="date" class="form-control" name="Session End Year" placeholder="Session End" value="{{student.session_end_year|date:"Y-m-d"}}">
                            </div>

                            <div class="form-group">
                                <label>Profile Image</label>
                                <input type="file" class="form-control" name="Session End Year" placeholder="profile_picture">
                            </div>

                            


                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Save Student</button>
                        </div>
                    </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

